* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: black;
}

.about {
    overflow: hidden;
    width: 800px;
    height: 270px;
    border-radius: 0.5em;
    margin: 120px 0px 0px 560px;
    background-color: white;
    font-family: sans-serif;
    font-style: normal;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none;  
}

.navigationBar {
    position: relative;
    display: flex;
    height: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.navTitle {
    position: absolute;
    left: 0;
    font-family: sans-serif;
    font-style: normal;
    color: #ffffff;
    margin: 3px 0px 0px 10px;
    letter-spacing: 2px;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    animation: titlePulse 5s ease-in-out;
}

@keyframes titlePulse {
    25% {
        color: white;
    }
    50% {
        color: red;
    }
    25% {
        color: greenyellow;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: flex;
    text-align: center;
    padding: 3px 20px 5px 14px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    transition: background-color 0.5s ease;
    color: rgb(194, 194, 194);
}

li a:hover {
    color: rgb(255, 255, 255);
}

ul li ul {
    display: none;
    background-color: #333333;
    visibility: hidden;
    opacity: 0;
    min-width: 10em;
    position: absolute;
    transition: all 0.5s ease;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 80%;
    display: block;
}
  
.scrabbleBoard {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 800px;
    height: 820px;
    border-radius: 0.5em;
    margin: 5px auto;
    background-color: white;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none;  
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.boardSquareGrey {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: #d7def0;
}

.specialSquareRed {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: rgba(255, 0, 0, 0.795);
}

.specialSquareCyan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: cyan;
}

.specialSquareBlue {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em; 
    background-color: blue;
}

.specialSquarePink {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: lightpink;
}

.starSquarePink {
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: lightpink;
    background-image: url('star.png');
    background-size: cover;
}

.boards {
    display: flex;
    align-items: flex-start;
}

.infoBoard {
    overflow: hidden;
    width: 440px;
    height: 270px;
    border-radius: 0.5em;
    margin: 10px 15px 0px 0px;
    background-color: white;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;     
    user-select: none; 
    box-shadow: inset 2px 2px 3px yellowgreen,
                inset -2px -2px 3px yellowgreen;
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 10em;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    border-radius: 0.5em;
    margin: 12px 10px 0px 0px;
    color: black;
    background-color: white;
    overflow: hidden;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;
    box-shadow: inset 2px 2px 3px yellowgreen,
                inset -2px -2px 3px yellowgreen;
    animation: pulse2 5s ease-in-out;
}

@keyframes pulse2 {
    10% {
        color: black;
    }
    45% {
        color: red;
    }
    45% {
        color: greenyellow;
    }
}

.warning {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-style: normal;
    padding: 10px;
    font-size: 1em;
    color: red;
    animation: pulse 5s infinite;
}

@keyframes pulse {
    10% {
        color: black;
    }
    45% {
        color: red;
    }
    45% {
        color: greenyellow;
    }
}

.lowerDesign {
    display: flex;
}

.letterTile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 0.5em;
    margin: 2px 0.1em;
    background-color: #f0d97e; 
    -webkit-user-select: none; 
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;   
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .6),
                inset -1px -1px 2px rgba(0, 0, 0, .6);
}

.letterTile:hover {
    background-color: rgb(123, 124, 123);
    color: white;
}

.point {
    position: relative;
    top: 10px;
    left: 10px;
}

.tileRack {
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 380px;
    height: 60px;
    border-radius: 0.5em;
    margin: 0px 250px;
    border: greenyellow solid;
    background-color: white;
}

.submit {
    position:absolute;
    height: 3.8em;
    width: 8em;
    font-size: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    font-style: normal;
    transition: background-color 0.3s ease;
    border-radius: 0.5em;
    margin: 1px 640px;

    color: black;
    background-color: white;
    outline: none;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}

.submit:hover {
    background-color: rgb(123, 124, 123);
    color: white;
    
}

.submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

/* @media screen and (min-width: 1080px) { 
}

@media screen and (max-width: 1536px) { 
    .tileRack {
        margin: 1px 45px;
    }
    .submit {
        margin: 1px 440px;
    }
} */