html {
    background: rgb(2,0,36);
    background: linear-gradient(
        90deg, rgba(2,0,36,1) 0%, 
        rgba(9,80,135,1) 23%, 
        rgba(0,212,255,1) 100%);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: serif;
    color: #d7def0;
    background-color: #333333;
}

.navigationBar {
    display: flex;
    justify-content: center;
    background-color: #333333;
}

ul {
    display: flex;
    /* flex-direction: column; */
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #b3a812; */
    top: 0;
    /* width: 100%; */
}

li {
    /* display: flex; */
    float: right;
    /* border-right: 5px solid whitesmoke; */
}

li a {
    display: flex;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: serif;
    font-size: 2rem;
    font-style: italic;
    transition: background-color 0.5s ease;
    color: rgb(172, 255, 47);
}

li a:hover {
    color: white;
    background-color: yellowgreen;
}

.scrabbleBoard {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 820px;
    border-radius: 1em;
    margin: 5px auto;
    border: red solid;
    background-color: white;
}

.boardSquareGrey {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: #d7def0;
}

.specialSquareRed {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: rgba(255, 0, 0, 0.795);
}

.specialSquareCyan {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: cyan;
}

.specialSquareBlue {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em; 
    background-color: blue;
}

.specialSquarePink {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: lightpink;
}

.starSquarePink {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: lightpink;
}

.boards {
    display: flex;
}

.infoBoard {
    justify-content: center;
    min-width: 400px;
    height: 400px;
    border-radius: 1em;
    border: greenyellow solid;
    margin: 10px 10px 20px 10px;
    background-color: white;
}

.warning {
    display: flex;
    justify-content: center;
    /* border-radius: 1em; */
    border: black solid;
    font-family: serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #c90000;
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0% {
        background-color: red;
    }
    100% {
        background-color: yellowgreen;
        color: black;
    }
}

.lowerDesign {
    display: flex;
}

.letterTile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 1em;
    margin: 2px 0.1em;
    background-color: #f0d97e;    
}

.tileRack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 380px;
    height: 60px;
    border-radius: 1em;
    margin: 5px 50px 0px 330px;
    border: greenyellow solid;
    background-color: white;
}

.submit {
    /* line-height: 2.5; */
    /* padding: 5px 50px; */
    height: 4em;
    width: 10em;
    font-size: 1em;
    text-align: center;
    font-family: serif;
    font-size: 1em;
    font-style: italic;
    transition: background-color 0.3s ease;
    /* text-shadow: 1px 1px 1px #000; */
    border-radius: 1em;
    margin: 5px 205px;

    color: white;
    border: greenyellow solid;
    background-color: #333333;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);

}

.submit:hover {
    background-color: rgb(123, 124, 123);
    
}

.submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#score {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 10em;
    font-family: serif;
    font-size: 1em;
    font-style: italic;
    border-radius: 1em;
    margin: 5px auto;
    color: white;
    border: greenyellow solid ;
    background-color: #333333;
}




